@using ProDiet.Models.DietPlan
@using MudBlazor.Extensions

<div id="border">
<MudCard Style="background-color: khaki">
    <MudCardContent>
        <div class="card-title">@cultureInfo.DateTimeFormat.GetDayName(_dietPlanDay.DietPlanDayDate.Value.DayOfWeek)  @_dietPlanDay.DietPlanDayDate.Value.Date.ToString("d")</div>
        <hr/>
        <MudText>Kaloryka: @_dietPlanDay.Calories kcal</MudText>
        <hr/>
        <MudText>Węglowodany: @_dietPlanDay.Carbohydrates g</MudText>
        <hr/>
        <MudText>Białko: @_dietPlanDay.Proteins g</MudText>
        <hr/>
        <MudText>Tłuszcze: @_dietPlanDay.Fats g</MudText>
    
    </MudCardContent>
</MudCard>
</div>


@code {
    [Parameter]
    public DietPlanDay _dietPlanDay { get; set; }

    public System.Globalization.CultureInfo cultureInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cultureInfo = new System.Globalization.CultureInfo("pl-PL");

        await base.OnInitializedAsync();
    }

}
